body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.header__title,
.header__text,
.menu__link:active,
.menu__link:focus,
.menu__link:hover,
.menu__link--active {
    background: -o-radial-gradient(50% 50%, 65% 50%, #EB9038 0%, #F3C3CF 50.52%, #8DC4F3 100%);
    background: radial-gradient(65% 50% at 50% 50%, #EB9038 0%, #F3C3CF 50.52%, #8DC4F3 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    color: #111111
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px
}

.logo {
    max-width: 208px;
    max-height: 31px
}

.toptitle {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.4;
    color: #111111;
    margin-bottom: 12px
}

.title {
    font-size: 72px;
    line-height: 1.1;
    color: #111111;
    margin-bottom: 35px;
    max-width: 480px
}

.link {
    cursor: pointer;
    font-size: 10px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #3D4853;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 0px #BDCAD8;
    box-shadow: 0px 0px 0px #BDCAD8;
    border-radius: 5px;
    padding: 10px 15px;
    -webkit-transition: -webkit-box-shadow 0.4s;
    transition: -webkit-box-shadow 0.4s;
    -o-transition: box-shadow 0.4s;
    transition: box-shadow 0.4s;
    transition: box-shadow 0.4s, -webkit-box-shadow 0.4s
}

.link:hover,
.link:active,
.link:focus {
    -webkit-box-shadow: 5px 5px #BDCAD8;
    box-shadow: 5px 5px #BDCAD8
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*,
*::after,
*::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

ul[class],
ol[class] {
    padding: 0
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0
}

ul[class] {
    list-style: none
}

img {
    display: block
}

input,
button,
textarea,
select {
    font: inherit
}

a {
    text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal
}

body.compensate-for-scrollbar {
    overflow: hidden
}

.fancybox-active {
    height: auto
}

.fancybox-is-hidden {
    left: -9999px;
    margin: 0;
    position: absolute !important;
    top: -9999px;
    visibility: hidden
}

.fancybox-container {
    backface-visibility: hidden;
    height: 100%;
    left: 0;
    outline: none;
    position: fixed;
    -webkit-tap-highlight-color: transparent;
    top: 0;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    width: 100%;
    z-index: 99992
}

.fancybox-container * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.fancybox-outer,
.fancybox-inner,
.fancybox-bg,
.fancybox-stage {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.fancybox-outer {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto
}

.fancybox-bg {
    background: #1e1e1e;
    opacity: 0;
    -webkit-transition-duration: inherit;
    -o-transition-duration: inherit;
    transition-duration: inherit;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
    -o-transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
    transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71)
}

.fancybox-is-open .fancybox-bg {
    opacity: .9;
    -webkit-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    -o-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1)
}

.fancybox-infobar,
.fancybox-toolbar,
.fancybox-caption,
.fancybox-navigation .fancybox-button {
    direction: ltr;
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity .25s ease, visibility 0s ease .25s;
    -o-transition: opacity .25s ease, visibility 0s ease .25s;
    transition: opacity .25s ease, visibility 0s ease .25s;
    visibility: hidden;
    z-index: 99997
}

.fancybox-show-infobar .fancybox-infobar,
.fancybox-show-toolbar .fancybox-toolbar,
.fancybox-show-caption .fancybox-caption,
.fancybox-show-nav .fancybox-navigation .fancybox-button {
    opacity: 1;
    -webkit-transition: opacity .25s ease 0s, visibility 0s ease 0s;
    -o-transition: opacity .25s ease 0s, visibility 0s ease 0s;
    transition: opacity .25s ease 0s, visibility 0s ease 0s;
    visibility: visible
}

.fancybox-infobar {
    color: #ccc;
    font-size: 13px;
    -webkit-font-smoothing: subpixel-antialiased;
    height: 44px;
    left: 0;
    line-height: 44px;
    min-width: 44px;
    mix-blend-mode: difference;
    padding: 0 10px;
    pointer-events: none;
    top: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.fancybox-toolbar {
    right: 0;
    top: 0
}

.fancybox-stage {
    direction: ltr;
    overflow: visible;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 99994
}

.fancybox-is-open .fancybox-stage {
    overflow: hidden
}

.fancybox-slide {
    backface-visibility: hidden;
    display: none;
    height: 100%;
    left: 0;
    outline: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 44px;
    position: absolute;
    text-align: center;
    top: 0;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    -o-transition-property: transform, opacity;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    white-space: normal;
    width: 100%;
    z-index: 99994
}

.fancybox-slide::before {
    content: '';
    display: inline-block;
    font-size: 0;
    height: 100%;
    vertical-align: middle;
    width: 0
}

.fancybox-is-sliding .fancybox-slide,
.fancybox-slide--previous,
.fancybox-slide--current,
.fancybox-slide--next {
    display: block
}

.fancybox-slide--image {
    overflow: hidden;
    padding: 44px 0
}

.fancybox-slide--image::before {
    display: none
}

.fancybox-slide--html {
    padding: 6px
}

.fancybox-content {
    background: #fff;
    display: inline-block;
    margin: 0;
    max-width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 44px;
    position: relative;
    text-align: left;
    vertical-align: middle
}

.fancybox-slide--image .fancybox-content {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
    animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
    backface-visibility: hidden;
    background: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 0;
    max-width: none;
    overflow: visible;
    padding: 0;
    position: absolute;
    top: 0;
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    -o-transition-property: transform, opacity;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 99995
}

.fancybox-can-zoomOut .fancybox-content {
    cursor: -webkit-zoom-out;
    cursor: zoom-out
}

.fancybox-can-zoomIn .fancybox-content {
    cursor: -webkit-zoom-in;
    cursor: zoom-in
}

.fancybox-can-swipe .fancybox-content,
.fancybox-can-pan .fancybox-content {
    cursor: -webkit-grab;
    cursor: grab
}

.fancybox-is-grabbing .fancybox-content {
    cursor: -webkit-grabbing;
    cursor: grabbing
}

.fancybox-container [data-selectable='true'] {
    cursor: text
}

.fancybox-image,
.fancybox-spaceball {
    background: transparent;
    border: 0;
    height: 100%;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none;
    padding: 0;
    position: absolute;
    top: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%
}

.fancybox-spaceball {
    z-index: 1
}

.fancybox-slide--video .fancybox-content,
.fancybox-slide--map .fancybox-content,
.fancybox-slide--pdf .fancybox-content,
.fancybox-slide--iframe .fancybox-content {
    height: 100%;
    overflow: visible;
    padding: 0;
    width: 100%
}

.fancybox-slide--video .fancybox-content {
    background: #000
}

.fancybox-slide--map .fancybox-content {
    background: #e5e3df
}

.fancybox-slide--iframe .fancybox-content {
    background: #fff
}

.fancybox-video,
.fancybox-iframe {
    background: transparent;
    border: 0;
    display: block;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%
}

.fancybox-iframe {
    left: 0;
    position: absolute;
    top: 0
}

.fancybox-error {
    background: #fff;
    cursor: default;
    max-width: 400px;
    padding: 40px;
    width: 100%
}

.fancybox-error p {
    color: #444;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 0
}

.fancybox-button {
    background: rgba(30, 30, 30, 0.6);
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    height: 44px;
    margin: 0;
    padding: 10px;
    position: relative;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
    vertical-align: top;
    visibility: inherit;
    width: 44px
}

.fancybox-button,
.fancybox-button:visited,
.fancybox-button:link {
    color: #ccc
}

.fancybox-button:hover {
    color: #fff
}

.fancybox-button:focus {
    outline: none
}

.fancybox-button.fancybox-focus {
    outline: 1px dotted
}

.fancybox-button[disabled],
.fancybox-button[disabled]:hover {
    color: #888;
    cursor: default;
    outline: none
}

.fancybox-button div {
    height: 100%
}

.fancybox-button svg {
    display: block;
    height: 100%;
    overflow: visible;
    position: relative;
    width: 100%
}

.fancybox-button svg path {
    fill: currentColor;
    stroke-width: 0
}

.fancybox-button--play svg:nth-child(2),
.fancybox-button--fsenter svg:nth-child(2) {
    display: none
}

.fancybox-button--pause svg:nth-child(1),
.fancybox-button--fsexit svg:nth-child(1) {
    display: none
}

.fancybox-progress {
    background: #ff5268;
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -ms-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -ms-transform-origin: 0;
    -webkit-transform-origin: 0;
    transform-origin: 0;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    z-index: 99998
}

.fancybox-close-small {
    background: transparent;
    border: 0;
    border-radius: 0;
    color: #ccc;
    cursor: pointer;
    opacity: .8;
    padding: 8px;
    position: absolute;
    right: -12px;
    top: -44px;
    z-index: 401
}

.fancybox-close-small:hover {
    color: #fff;
    opacity: 1
}

.fancybox-slide--html .fancybox-close-small {
    color: currentColor;
    padding: 10px;
    right: 0;
    top: 0
}

.fancybox-slide--image.fancybox-is-scaling .fancybox-content {
    overflow: hidden
}

.fancybox-is-scaling .fancybox-close-small,
.fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small {
    display: none
}

.fancybox-navigation .fancybox-button {
    background-clip: content-box;
    height: 100px;
    opacity: 0;
    position: absolute;
    top: calc(50% - 50px);
    width: 70px
}

.fancybox-navigation .fancybox-button div {
    padding: 7px
}

.fancybox-navigation .fancybox-button--arrow_left {
    left: 0;
    left: env(safe-area-inset-left);
    padding: 31px 26px 31px 6px
}

.fancybox-navigation .fancybox-button--arrow_right {
    padding: 31px 6px 31px 26px;
    right: 0;
    right: env(safe-area-inset-right)
}

.fancybox-caption {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.85)), color-stop(50%, rgba(0, 0, 0, 0.3)), color-stop(65%, rgba(0, 0, 0, 0.15)), color-stop(75.5%, rgba(0, 0, 0, 0.075)), color-stop(82.85%, rgba(0, 0, 0, 0.037)), color-stop(88%, rgba(0, 0, 0, 0.019)), to(rgba(0, 0, 0, 0)));
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.15) 65%, rgba(0, 0, 0, 0.075) 75.5%, rgba(0, 0, 0, 0.037) 82.85%, rgba(0, 0, 0, 0.019) 88%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.15) 65%, rgba(0, 0, 0, 0.075) 75.5%, rgba(0, 0, 0, 0.037) 82.85%, rgba(0, 0, 0, 0.019) 88%, rgba(0, 0, 0, 0) 100%);
    bottom: 0;
    color: #eee;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    line-height: 1.5;
    padding: 75px 44px 25px 44px;
    pointer-events: none;
    right: 0;
    text-align: center;
    z-index: 99996
}

@supports (padding: max(numbers)) {
    .fancybox-caption {
        padding: 75px max(numbers) max(numbers) max(numbers)
    }
}

.fancybox-caption--separate {
    margin-top: -50px
}

.fancybox-caption__body {
    max-height: 50vh;
    overflow: auto;
    pointer-events: all
}

.fancybox-caption a,
.fancybox-caption a:link,
.fancybox-caption a:visited {
    color: #ccc;
    text-decoration: none
}

.fancybox-caption a:hover {
    color: #fff;
    text-decoration: underline
}

.fancybox-loading {
    -webkit-animation: fancybox-rotate 1s linear infinite;
    animation: fancybox-rotate 1s linear infinite;
    background: transparent;
    border: 4px solid #888;
    border-bottom-color: #fff;
    border-radius: 50%;
    height: 50px;
    left: 50%;
    margin: -25px 0 0 -25px;
    opacity: .7;
    padding: 0;
    position: absolute;
    top: 50%;
    width: 50px;
    z-index: 99999
}

@-webkit-keyframes fancybox-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes fancybox-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.fancybox-animated {
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.25, 1)
}

.fancybox-fx-slide.fancybox-slide--previous {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
}

.fancybox-fx-slide.fancybox-slide--next {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
}

.fancybox-fx-slide.fancybox-slide--current {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.fancybox-fx-fade.fancybox-slide--previous,
.fancybox-fx-fade.fancybox-slide--next {
    opacity: 0;
    -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1)
}

.fancybox-fx-fade.fancybox-slide--current {
    opacity: 1
}

.fancybox-fx-zoom-in-out.fancybox-slide--previous {
    opacity: 0;
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5)
}

.fancybox-fx-zoom-in-out.fancybox-slide--next {
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5)
}

.fancybox-fx-zoom-in-out.fancybox-slide--current {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
}

.fancybox-fx-rotate.fancybox-slide--previous {
    opacity: 0;
    -ms-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg)
}

.fancybox-fx-rotate.fancybox-slide--next {
    opacity: 0;
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
}

.fancybox-fx-rotate.fancybox-slide--current {
    opacity: 1;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
}

.fancybox-fx-circular.fancybox-slide--previous {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
    transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0)
}

.fancybox-fx-circular.fancybox-slide--next {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
    transform: scale3d(0, 0, 0) translate3d(100%, 0, 0)
}

.fancybox-fx-circular.fancybox-slide--current {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0)
}

.fancybox-fx-tube.fancybox-slide--previous {
    -webkit-transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
    transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg)
}

.fancybox-fx-tube.fancybox-slide--next {
    -webkit-transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
    transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg)
}

.fancybox-fx-tube.fancybox-slide--current {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1)
}

@media all and (max-height: 576px) {
    .fancybox-slide {
        padding-left: 6px;
        padding-right: 6px
    }

    .fancybox-slide--image {
        padding: 6px 0
    }

    .fancybox-close-small {
        right: -6px
    }

    .fancybox-slide--image .fancybox-close-small {
        background: #4e4e4e;
        color: #f2f4f6;
        height: 36px;
        opacity: 1;
        padding: 6px;
        right: 0;
        top: 0;
        width: 36px
    }

    .fancybox-caption {
        padding-left: 12px;
        padding-right: 12px
    }

    @supports (padding: max(numbers)) {
        .fancybox-caption {
            padding-left: max(numbers);
            padding-right: max(numbers)
        }
    }
}

.fancybox-share {
    background: #f4f4f4;
    border-radius: 3px;
    max-width: 90%;
    padding: 30px;
    text-align: center
}

.fancybox-share h1 {
    color: #222;
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 20px 0
}

.fancybox-share p {
    margin: 0;
    padding: 0
}

.fancybox-share__button {
    border: 0;
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    margin: 0 5px 10px 5px;
    min-width: 130px;
    padding: 0 15px;
    text-decoration: none;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap
}

.fancybox-share__button:visited,
.fancybox-share__button:link {
    color: #fff
}

.fancybox-share__button:hover {
    text-decoration: none
}

.fancybox-share__button--fb {
    background: #3b5998
}

.fancybox-share__button--fb:hover {
    background: #344e86
}

.fancybox-share__button--pt {
    background: #bd081d
}

.fancybox-share__button--pt:hover {
    background: #aa0719
}

.fancybox-share__button--tw {
    background: #1da1f2
}

.fancybox-share__button--tw:hover {
    background: #0d95e8
}

.fancybox-share__button svg {
    height: 25px;
    margin-right: 7px;
    position: relative;
    top: -1px;
    vertical-align: middle;
    width: 25px
}

.fancybox-share__button svg path {
    fill: #fff
}

.fancybox-share__input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #d7d7d7;
    border-radius: 0;
    color: #5d5b5b;
    font-size: 14px;
    margin: 10px 0 0 0;
    outline: none;
    padding: 10px 15px;
    width: 100%
}

.fancybox-thumbs {
    background: #ddd;
    bottom: 0;
    display: none;
    margin: 0;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    padding: 2px 2px 4px 2px;
    position: absolute;
    right: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    top: 0;
    width: 212px;
    z-index: 99995
}

.fancybox-thumbs-x {
    overflow-x: auto;
    overflow-y: hidden
}

.fancybox-show-thumbs .fancybox-thumbs {
    display: block
}

.fancybox-show-thumbs .fancybox-inner {
    right: 212px
}

.fancybox-thumbs__list {
    font-size: 0;
    height: 100%;
    list-style: none;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    position: relative;
    white-space: nowrap;
    width: 100%
}

.fancybox-thumbs-x .fancybox-thumbs__list {
    overflow: hidden
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar {
    width: 7px
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb {
    background: #2a2a2a;
    border-radius: 10px
}

.fancybox-thumbs__list a {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: rgba(0, 0, 0, 0.1);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    float: left;
    height: 75px;
    margin: 2px;
    max-height: calc(100% - 8px);
    max-width: calc(50% - 4px);
    outline: none;
    overflow: hidden;
    padding: 0;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    width: 100px
}

.fancybox-thumbs__list a::before {
    border: 6px solid #ff5268;
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: 99991
}

.fancybox-thumbs__list a:focus::before {
    opacity: .5
}

.fancybox-thumbs__list a.fancybox-thumbs-active::before {
    opacity: 1
}

@media all and (max-width: 576px) {
    .fancybox-thumbs {
        width: 110px
    }

    .fancybox-show-thumbs .fancybox-inner {
        right: 110px
    }

    .fancybox-thumbs__list a {
        max-width: calc(100% - 10px)
    }
}

.header {
    background-color: #111111;
    padding-bottom: 120px
}

.header__top {
    padding: 20px 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    background-color: #111111;
    top: 0;
    left: 0;
    right: 0
}

.header__title {
    font-size: 157px;
    max-width: 900px;
    margin-bottom: 120px
}

.header__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 150px
}

.header__img {
    max-width: 221px;
    max-height: 368px;
    -webkit-transition: -webkit-transform 0.6s;
    transition: -webkit-transform 0.6s;
    -o-transition: transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
    cursor: pointer
}

.header__img:hover {
    -webkit-transform: translateY(20%);
    -ms-transform: translateY(20%);
    transform: translateY(20%)
}

.header__text {
    text-align: center;
    margin-bottom: 20px
}

.header__link {
    margin: 0 auto
}

.header__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 120px
}

.header__frame-img {
    margin-bottom: 90px
}

.header__frame-img:last-child {
    margin-bottom: 0
}

.header__frame-img--right {
    position: relative;
    right: -30%
}

.header__logo-mini {
    display: none
}

.header__content {
    padding-top: 150px
}

.menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.menu__item {
    margin-right: 50px;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s
}

.menu__item:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3)
}

.menu__item-link {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
}

.menu__link {
    color: #FFFFFF;
    font-size: 16px
}

.menu__btn {
    display: none;
    border: none;
    background-color: transparent;
    width: 44px;
    height: 44px
}

.partners {
    padding: 100px 0;
    text-align: center
}

.partners__content {
    margin-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.partners__content img {
    max-height: 36px
}

.custom {
    padding: 150px 0;
    background: -o-radial-gradient(18.54% 0%, 100% 100%, rgba(141, 196, 243, 0.62) 20.83%, rgba(234, 151, 78, 0.65) 46.35%, #E4C3D4 86.98%);
    background: radial-gradient(100% 100% at 18.54% 0%, rgba(141, 196, 243, 0.62) 20.83%, rgba(234, 151, 78, 0.65) 46.35%, #E4C3D4 86.98%)
}

.custom__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative
}

.custom__content {
    position: absolute;
    max-width: 556px;
    top: 20%;
    right: 0
}

.unlock {
    padding: 200px 0;
    background-color: #111111
}

.unlock__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.unlock__icons {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr 2);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px
}

.unlock__icons img {
    -webkit-animation: pulsing 4s infinite;
    animation: pulsing 4s infinite
}

@-webkit-keyframes pulsing {
    0% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5)
    }

    50% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    100% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5)
    }
}

@keyframes pulsing {
    0% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5)
    }

    50% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    100% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5)
    }
}

.unlock__info {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 550px;
    color: #BABABA
}

.unlock__title,
.unlock__toptitle {
    color: #FFFFFF
}

.unlock__title {
    text-align: center
}

.design {
    padding: 160px 0;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s
}

.design__title {
    max-width: 650px
}

.design__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.design__img {
    max-width: 570px;
    max-height: 990px;
    -webkit-transition: -webkit-transform 0.6s;
    transition: -webkit-transform 0.6s;
    -o-transition: transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s
}

.design__img:hover {
    -webkit-transform: translateY(-5%);
    -ms-transform: translateY(-5%);
    transform: translateY(-5%)
}

.design__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 170px
}

.design__text {
    max-width: 400px;
    margin-bottom: 90px
}

.design__stat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.design__stat-title {
    color: #111111;
    font-size: 36px;
    margin-bottom: 24px;
    max-width: 315px
}

.design__stat-text {
    font-size: 16px;
    max-width: 340px
}

.design__item {
    position: relative;
    padding-top: 50px
}

.design__item::before {
    position: absolute;
    content: '';
    width: 36px;
    height: 36px;
    border-radius: 50%;
    top: 0
}

.design__item--while::before {
    background-color: #FCECDC
}

.design__item--blue::before {
    background-color: #EAF4FC
}

.design__item--pink::before {
    background-color: #FBEDF1
}

.join {
    padding: 150px 0;
    background-color: #3D4853
}

.join__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: relative
}

.join__img {
    max-width: 620px;
    max-height: 470px
}

.join__box {
    position: relative
}

.join__box::after {
    position: absolute;
    content: '';
    width: 358px;
    height: 183px;
    top: 78%;
    right: -11%;
    background-image: url("../public/images/icons/decor.svg");
    -webkit-animation: pulsing 10s infinite;
    animation: pulsing 10s infinite
}

.join__info {
    position: absolute;
    left: 0;
    top: 20%;
    z-index: 800
}

.join__title {
    color: #FFFFFF;
    font-size: 64px;
    max-width: 660px
}

.join__link {
    color: #fff;
    background-color: #3D4853;
    border-radius: 5px;
    border: 2px solid #BDCAD8;
    -webkit-transition: background-color 0.4s, color 0.4s, border 0.4s;
    -o-transition: background-color 0.4s, color 0.4s, border 0.4s;
    transition: background-color 0.4s, color 0.4s, border 0.4s
}

.join__link:hover {
    background-color: #fff;
    color: #111111;
    border-color: #fff
}

.footer {
    padding: 63px 0;
    background-color: #3D4853
}

.footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 80px
}

.footer__info {
    max-width: 163px
}

.footer__logo {
    display: block;
    margin-bottom: 26px
}

.footer__text {
    font-size: 14px;
    color: #BDCAD8
}

.footer__list {
    max-width: 180px
}

.footer__item {
    margin-bottom: 10px
}

.footer__link {
    font-size: 14px;
    color: #fff
}

.footer__link:hover {
    color: #BDCAD8;
    text-decoration: underline
}

.footer__link--title {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #BDCAD8
}

.footer__link--title:hover {
    text-decoration: none
}

.footer__social-info {
    margin-bottom: 20px
}

.footer__social-item {
    display: inline-block
}

.footer__social-link {
    margin-right: 20px;
    -webkit-transition: fill 0.4s;
    -o-transition: fill 0.4s;
    transition: fill 0.4s
}

.footer__social-link:hover svg path {
    fill: #BDCAD8
}

.footer__svg {
    max-width: 24px;
    max-height: 24px;
    margin-right: 20px
}

.footer__svg:last-child {
    margin-right: 0
}

.footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.footer__bottom-link {
    color: #fff;
    background-color: #3D4853;
    border-radius: 5px;
    border: 2px solid #BDCAD8;
    -webkit-transition: background-color 0.4s, color 0.4s, border 0.4s;
    -o-transition: background-color 0.4s, color 0.4s, border 0.4s;
    transition: background-color 0.4s, color 0.4s, border 0.4s
}

.footer__bottom-link:hover {
    background-color: #fff;
    color: #111111;
    border-color: #fff
}

.footer__copy {
    display: block;
    color: #fff;
    font-size: 14px
}

.footer__mapa {
    position: relative
}

.footer__mapa::after {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    background-image: url(../public/images/icons/heart.svg);
    -webkit-animation: pulsing 2s infinite;
    animation: pulsing 2s infinite;
    top: 29%;
    left: 55%
}

.footer__adress {
    font-size: 12px;
    color: #FFFFFF
}

@media (max-width: 1260px) {
    .header__img {
        max-width: 180px
    }

    .header__frame-img--right {
        right: -17%
    }

    .design__img {
        max-width: 500px
    }

    .join__box::after {
        position: absolute;
        content: '';
        width: 358px;
        height: 183px;
        top: 78%;
        right: 0%
    }
}

@media (max-width: 1010) {
    .design__img {
        max-width: 480px
    }
}

@media (max-width: 995px) {
    .join__box::after {
        right: 0
    }

    .design__img {
        max-width: 460px
    }

    .design__item {
        max-width: 300px
    }

    .design__stat-title {
        font-size: 32px
    }

    .header__title {
        font-size: 140px
    }

    .header__img {
        max-width: 140px
    }

    .header__frame-img {
        max-width: 600px
    }

    .header__frame-img--right {
        right: -10%
    }

    .design__img {
        width: 100%
    }

    .design__stat-text {
        font-size: 16px;
        max-width: 185px
    }

    .unlock__info {
        max-width: 350px
    }

    .custom__img {
        width: 100%
    }

    .menu__item:last-child {
        margin-right: 0
    }
}

@media (max-width: 776px) {

    .design,
    .join,
    .unlock,
    .custom,
    .partners {
        padding: 95px 0
    }

    .menu__item {
        margin-right: 20px
    }

    .menu__link {
        font-size: 15px
    }

    .title {
        font-size: 55px
    }

    .header__title {
        font-size: 130px
    }

    .header__img {
        max-width: 122px
    }

    .header__frame-img--right {
        right: 0
    }

    .header__images {
        margin-bottom: 60px
    }

    .partners__content img {
        max-width: 130px
    }

    .design__stat-title {
        font-size: 30px
    }

    .footer__social-item {
        display: block;
        margin-bottom: 20px
    }

    .footer__info {
        max-width: 120px
    }

    .unlock__icons img {
        max-width: 41px
    }

    .join__img {
        max-width: 562px
    }

    .header__images {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr 3);
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px
    }

    .header__img {
        max-width: 170px
    }

    .header__img:hover {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}

@media (max-width: 640px) {

    .design,
    .join,
    .unlock,
    .custom,
    .partners {
        padding: 70px 0
    }

    .title {
        font-size: 38px
    }

    body {
        font-size: 20px
    }

    .logo {
        display: none
    }

    .header__title {
        font-size: 95px;
        margin-bottom: 90px
    }

    .header__logo-mini {
        display: block;
        z-index: 999
    }

    .header__top {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 900
    }

    .header__img {
        max-width: 150px
    }

    .header__box {
        margin-bottom: 40px
    }

    .menu {
        -webkit-transform: translateY(-300%);
        -ms-transform: translateY(-300%);
        transform: translateY(-300%);
        background-color: #111111;
        -webkit-transition: -webkit-transform 0.4s;
        transition: -webkit-transform 0.4s;
        -o-transition: transform 0.4s;
        transition: transform 0.4s;
        transition: transform 0.4s, -webkit-transform 0.4s
    }

    .header__top--active .menu {
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%)
    }

    .menu__btn {
        display: block;
        z-index: 999
    }

    .design__stat-title {
        font-size: 21px
    }

    .design__stat-text {
        font-size: 16px;
        max-width: 122px
    }

    .header__frame-img {
        max-width: 313px;
        margin-bottom: 50px
    }

    .header__frame-img--right {
        right: -20%
    }

    .join__img {
        max-width: 490px
    }
}

@media (max-width: 540px) {
    body {
        font-size: 16px
    }

    .header__img {
        max-width: 130px
    }

    .header__title {
        font-size: 72px;
        margin-bottom: 65px
    }

    .partners__content {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr 2);
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        justify-items: center
    }

    .footer__top {
        margin-bottom: 20px
    }

    .footer__link {
        font-size: 10px
    }

    .menu__link {
        font-size: 14px
    }

    .menu__item {
        margin-right: 15px
    }

    .design__text {
        margin-bottom: 35px
    }

    .design__box {
        margin-bottom: 100px
    }
}

@media (max-width: 444px) {
    .menu__link {
        font-size: 12px
    }

    .header {
        padding-bottom: 70px
    }

    .header__images {
        -ms-grid-columns: (1fr 2);
        grid-template-columns: repeat(2, 1fr)
    }

    .design__stat {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .design__stat-text {
        max-width: none;
        width: auto
    }

    .design__item {
        max-width: 200px;
        margin-bottom: 40px
    }

    .footer__text {
        display: none
    }

    .footer__link {
        font-size: 9px
    }

    .footer__bottom {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr 2);
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        grid-gap: 10px
    }

    .join__img {
        max-width: 400px
    }

    .unlock__icons {
        grid-gap: 20px
    }

    .join__box::after {
        display: none
    }

    .menu {
        position: absolute;
        top: 10%;
        left: 0;
        right: 0;
        padding-bottom: 30px
    }

    .menu__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .menu__item {
        padding: 10px;
        display: inline-block;
        height: 44px;
        margin-right: 0
    }

    .header__top {
        padding: 15px 10px
    }
}

@media (max-width: 400px) {
    body {
        font-size: 14px
    }

    .toptitle {
        font-size: 8px
    }

    .title {
        font-size: 30px
    }

    .menu__link {
        font-size: 10px
    }

    .menu__link:hover,
    .menu__link:active {
        font-size: 12px
    }

    .header__content {
        padding-top: 120px
    }

    .header__title {
        font-size: 62px
    }

    .link {
        font-size: 7px
    }

    .header__frame-img--right {
        right: -5%
    }

    .footer__list,
    .footer__social {
        text-align: center
    }

    .footer__link {
        font-size: 7px
    }

    .join__img {
        max-width: 300px
    }

    .custom__content {
        top: 0
    }
}

@media (max-width: 360px) {
    .header__frame-img {
        max-width: 273px
    }

    .unlock__icons {
        grid-gap: 7px
    }

    .footer {
        padding: 0
    }
}
